@import "~bootstrap/scss/bootstrap.scss";

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    margin-bottom: 25px;
  }
  strong {
    margin-right: 1rem;
  }
}

@keyframes note {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: .7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  transition: opacity 500ms ease-out;
  opacity: 1;
}

.alert-exit-active {
  transition: opacity 350ms ease-out;
  opacity: 0;
}

.note-exit-active {
  animation: note 800ms ease-out forwards;
}

.note-enter-active {
  animation: note 800ms ease-in alternate-reverse;
}

.modal {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalContainer {
  position: fixed;
  top: 20%;
  left: 30%;
  width: 600px;
  height: 350px;
  background-color: white;
  border-radius: 5px;
  z-index: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}